* {
  margin: 0;
  padding: 0;
}

header {
  height: 20vh;
  display: flex;
  background-color: blue;
  justify-content: center;
  align-content: center;
  color: whitesmoke;
  flex-wrap: wrap;
}

main {
  display: flex;
}

.container {
  border: 3px solid red;
  width: 30vh;
  height: 100vh;
}

.container-2 {
  border: 3px solid red;
  width: 100%;
  height: 100vh;
  display: block;
}

.container-4 {
  border: 3px solid red;
  width: 100%;
  height: 30vh;
}
